@use 'global' as *;

.nav {
    background-color: $primary-color;
    @include margin-padding(5px);

    li {
        list-style-type: none;

        a {
            text-decoration: none;
            font-size: $font-md;
            color: $tertiary-color;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}