$primary-color: red;
$secondary-color: blue;
$tertiary-color: yellow;

$font-lg: 70px;
$font-md: 50px;
$font-sm: 24px;

%background-primary {
    background-color: $secondary-color;
    color: $tertiary-color;
    text-align: center;
}

@mixin margin-padding($padding) {
    margin: 3px;
    padding: $padding;
}

@mixin colorTransition($params...) {
    transition: $params;
}

@function increaseFontSize($size) {
    @return $size * 2;
}

.nav {
    background-color: $primary-color;
    @include margin-padding(5px);

    li {
        list-style-type: none;

        a {
            text-decoration: none;
            font-size: $font-md;
            color: $tertiary-color;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}

.banner {
    @include margin-padding(3px);

    h1 {
        font-size: $font-lg;
        color: $secondary-color;
        text-align: center;
    }   
}


footer {
    @include margin-padding(3px);
    @include colorTransition(color 0.5s, background-color 1s);
    
    h3 {
        font-size: $font-md;
        color: $primary-color;
        text-align: center;
    }

    &:hover {
        background-color: $tertiary-color;
        color: $primary-color;
    }
} 

p {
    @extend %background-primary;
    font-size: increaseFontSize($font-sm);
}