$primary-color: red;
$secondary-color: blue;
$tertiary-color: yellow;

$font-lg: 70px;
$font-md: 50px;
$font-sm: 24px;

.nav {
    background-color: $primary-color;

    li {
        list-style-type: none;

        a {
            text-decoration: none;
            font-size: $font-md;
            color: $tertiary-color;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}

.banner > h1 {
    font-size: $font-lg;
    color: $secondary-color;
    text-align: center;
}

footer > h3 {
    font-size: $font-md;
    color: $primary-color;
    text-align: center;
}